body {
    margin: 0 auto;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

#menuToggle {
    display: none;
}

nav {
    top: 0;
    display: flex;
    font-family: 'Indie Flower', cursive;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 25px;
    width: 100%;
    position: fixed;
    background-color: white;
    padding-bottom: 10px;
    transition: all 0.5s ease-out;
}

nav.scroll {
    background-color: rgba(223, 219, 219, 0.986);
    box-shadow: 0px 4px 7px #777;
    font-weight: bold;
}

nav a:link{
    text-decoration: none;
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: rgb(173, 14, 14);
    transition: 0.5s;
}


.logo {
    padding-top: 10px;
}

#left {
    float: left;
    width: 50%;
    height: 100vh;
    background-image: url(../zdj/dog3_trans.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

#right {
    float: left;
    width: 40%;
    height: 100vh;
}

.banner {
    text-align: center;
    padding-top: 40%;
    padding-left: 10%;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}

.topdiv{
    clear: both;
    width: 100vw;
    height: 70px;
    left: 0px;
    background: linear-gradient(to left bottom, #fff 49%, rgba(211, 211, 211, 0.384) 50%);
}

#about {
    width: 100vw;
}

#about-left {
    float: left;
    background-color: rgba(211, 211, 211, 0.384);
    width: 40%;
    height: 60vh;
    text-align: left;
}

.aboutheader {
    font-family: 'Indie Flower', cursive;
    padding-top: 10%;
    padding-left: 10%;
    font-size: 50px;
}

.aboutxt {
    font-family: 'Prompt', sans-serif;
    padding-left: 10%;
    font-size: 20px;
}

#aboutimg {
    width: 60%;
    height: 60vh;
    float: left;
    background-image: url(../zdj/dog2_trans.png);
    background-repeat: no-repeat;
    background-color: rgba(211, 211, 211, 0.384);
    background-position: center;
}

.bottomdiv {
    clear: both;
    width: 100vw;
    height: 70px;
    left: 0px;
    background: linear-gradient(to right bottom, rgba(211, 211, 211, 0.384) 49%, #fff 50%),    linear-gradient( -50deg, #ffffff 16px, #fff 0);
}

#details {
    width: 100%;
    display: flex;
    font-family: 'Indie Flower', cursive;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#health {
    width: 20%;
    height: 400px;
    box-shadow: 0px 4px 7px #777;
    padding: 2px;
    transition: all 0.5s ease-in-out;
}

#health h1 {
    font-size: 35px;
    margin-bottom: -10px;
}

#health p {
    padding-top: 10px;
    font-family: 'Prompt', sans-serif;
}

#health:hover  {
    background-color: rgba(211, 211, 211, 0.384);
    transform: scale(1.1);
}

#beauty {
    width: 20vw;
    height: 400px;
    box-shadow: 0px 4px 7px #777;
    padding: 2px;
    transition: all 0.5s ease-in-out;
}

#beauty h1 {
    font-size: 35px;
    margin-bottom: -10px;
}

#beauty p {
    padding-top: 10px;
    font-family: 'Prompt', sans-serif;
}

#beauty:hover  {
    transition: all 0.5s ease-in-out;
    background-color: rgba(211, 211, 211, 0.384);
    transform: scale(1.1);
}

#relax {
    width: 20vw;
    height: 400px;
    box-shadow: 0px 4px 7px #777;
    padding: 2px;
    transition: all 0.5s ease-in-out;
}

#relax h1 {
    font-size: 35px;
    margin-bottom: -10px;
}

#relax p {
    padding-top: 10px;
    font-family: 'Prompt', sans-serif;
}

#relax:hover  {
    transition: all 0.5s ease-in-out;
    background-color: rgba(211, 211, 211, 0.384);
    transform: scale(1.1);
}

#team {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.384);
}

#team div {
    background-color: blue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0px 4px 7px #777;
}

.person1 {
    background-image: url("../zdj/person1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.person2 {
    background-image: url("../zdj/person2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.person3 {
    background-image: url("../zdj/person3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.under {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.384);
}

.under-h {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

.under-p {
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}

#contact {
    width: 100%;
}

#contact-image {
    float: left;
    width: 60%;
    height: 60vh;
    background-image: url(../zdj/dog1_cut.png);
    background-repeat: no-repeat;
    background-position: center;
}

#contact-text {
    float: left;
    width: 40%;
}

#join {
    width: 100vw;
}

#join-text {
    float: left;
    width: 40%;
    height: 60vh;
    background-color: rgba(211, 211, 211, 0.384);
}

.joinheader {
    font-family: 'Indie Flower', cursive;
    padding-top: 1%;
    padding-left: 10%;
    font-size: 50px;
}

#join-image {
    float: left;
    width: 60%;
    height: 60vh;
    background-image: url(../zdj/dog-end_trans.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(211, 211, 211, 0.384);
}

#join-button {
    background-color: white;
    box-shadow: 0px 4px 7px #777;
    width: 100px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    margin-left: 10%;
    transition: all 0.2s ease-in-out;
}

#join-button:hover {
    transform: scale(1.05);
}

#join a:link {
    color: black;
    text-decoration: none;
}

#join a:visited {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {

    .banner {
        padding-top: 10%;;
    }

    #left {
        display: none;
    }

    #right {
        display: block;
        width: 60%;
        height: 100%;
        margin-left: 15%;
    }
    
    #aboutimg {
        display: none;
    }

    #about-left {
        width: 100%;
    }

    #details {
        flex-direction: column;
    }

    #health, #beauty, #relax {
        width: 50%;
        margin-bottom: 2%;
        margin-left: 25%;
    }

    #contact-image {
        display: none;
    }

    #contact-text {
        width: 100%;
        height: 100%;
        margin-bottom: 15%;
    }

    #join-image {
        display: none;
    }

    #join-text {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    #health, #beauty, #relax {
        width: 90%;
        margin-bottom: 2%;
        margin-left: 4%;
    }

    .aboutheader {
        font-family: 'Indie Flower', cursive;
        padding-top: 10%;
        padding-left: 5%;
        font-size: 50px;
    }
    
    .aboutxt {
        padding-left: 5%;
    }

    .joinheader {
        padding-left: 5%;
    }

    #team div {
        width: 100px;
        height: 100px;
    }

    #health:hover {
        transform: none;
    }

    #beauty:hover {
        transform: none;
    }

    #relax:hover {
        transform: none;
    }

    nav {
        display: none;
    }

    .banner {
        padding-top: 0;
    }


    #menuToggle
    {
        width: 100%;
        display: block;
        position: fixed;
        top: 0px;
        background-color: rgba(223, 219, 219, 0.986);
        box-shadow: 0px 4px 7px #777;
        padding: 25px 0px 25px 50px;
        z-index: 1;
        user-select: none;
    }

    .logo {
        margin-top: 30%;
        margin-left: 39%;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
    }

    /*
    Hamburger
    */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #555555;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
    * Transform into a crossmark
    */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    absolute positioned at the top left of the screen
    */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        font-family: 'Indie Flower', cursive;
        background: #ededed;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu a:link{
        color: black;
        text-decoration: none;
    }

    #menu a:visited {
        color: black;
        text-decoration: none;
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
    slide it in from the left
    */
    #menuToggle input:checked ~ ul {
        transform: none;
    }
}